.body {
	font-family: "Roboto", sans-serif;
	background-color: #ffffff;
	color: #434455;
	font-size: 16;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
img {
	display: flex;
}
.container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 1158px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.link {
	text-decoration: none;
	color: #2e2f42;
	font-weight: 500;
}
.inside-links {
	text-decoration: none;
	color: #2e2f42;
	font-weight: 500;
	padding-left: 40px;
}
.inside-links:focus {
	color: #404bbf;
}
.inside-links:hover {
	color: #404bbf;
}
.contacts {
	font-style: normal;
	display: flex;
	list-style-type: none;
	display: flex;
	padding-left: 20px;
}
.top-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	-ms-flex-align: stretch;
	flex-wrap: nowrap;
	align-items: center;
	text-align: left;
	flex-shrink: 1;

	padding-left: 8px;
	padding-right: 8px;
	width: calc(100% - 16px);
	border-bottom: 1px #404bbf;
}
nav {
	display: flex;
}

.list {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.header-logo-link {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: #4d5ae5;
	text-transform: uppercase;
	text-decoration: none;
}
.logo-studio {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: #2e2f42;
}

section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.button {
	cursor: pointer;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	background-color: #4d5ae5;
	color: #ffffff;
}
button:hover {
	background-color: #404bbf;
	color: #404bbf;
	font-weight: 500;
}
button:focus {
	background-color: #404bbf;
	color: #404bbf;
	font-weight: 500;
}

.reach-us-link {
	list-style-type: none;
	text-decoration: none;
	color: #434455;
	font-weight: 400;
}
.reach-us-link:hover,
:focus {
	color: #404bbf;
}

.hero-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #2e2f42;
}
.hero-title {
	display: block;
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	color: #ffffff;
	text-align: center;
	letter-spacing: 0.02em;
}
.section-second-title {
	color: transparent;
}
.description-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}
.teammembers-section {
	background-color: #f4f4fd;
}
.our-team-title {
	font-size: 36px;
	line-height: 1.11;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.02em;
	color: #2e2f42;
	text-transform: capitalize;
}
.team-card-content {
	background-color: #ffffff;
}
.team-member-name {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}
.team-member-position {
	font-size: 16px;
}
.our-portfolio-title {
	font-size: 36px;
	line-height: 1.11;
	font-weight: 700;
	text-align: center;
	text-transform: capitalize;
	color: #2e2f42;
}

.portfolio-name {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.our-portfolio-content {
	border-bottom: 1px #2e2f42;
}

.footer-bar {
	background-color: #2e2f42;
	height: 311px;
}
.logo-studio-footer {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 18;
	line-height: 1.166;
	letter-spacing: 0.03em;
	color: #f4f4fd;
}
.footer-bar-text {
	color: #f4f4fd;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.logo-link-footer {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: #4d5ae5;
	text-transform: uppercase;
	text-decoration: none;
}
.logo-studio-footer {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.166;
	letter-spacing: 0.03em;
	color: #f4f4fd;
}
